@import "var.scss";

#bkg{
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#songImgInLyric{
  width: 22%;
  position: fixed; 
  padding-top: 12%;
  padding-left: 2%;
}
.desc{
  width: 100%;
  color: #ffffff;
  position: relative;

  .bkg{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0.1;
    background-color: cover;
    background-repeat: no-repeat;
    filter: blur(30px);
  }
}

.song-lyric {
  margin: auto;
  // margin: auto auto auto 20%;
  margin-top: $header-height + 20px;
  width: 50%;
  // background-color: $color-white;
  border-radius: 12px;
  padding: 0 20px 50px 20px;
  font-family: $font-family;
  opacity: 0.8;

  .lyric-title {
    text-align: center;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #FFFF00;
  }

  .has-lyric {
    font-size: 18px;
    padding: 30px 0;
    width: 100%;
    min-height: 170px;
    text-align: center; 

    li {
      width: 100%;
      height: 40px;
      line-height: 40px;
    }
  }

  .no-lyric {
    margin: 200px 0;
    width: 100%;
    text-align: center;

    span {
      font-size: 18px;
      text-align: center;
    }
  }
}

.lyric-fade-enter,
.lyric-fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
}

.lyric-fade-enter-active,
.lyric-fade-leave-active {
  transition: all 0.3s ease;
}
